new.html.erb (hosts)

New user signup page

<form action="/hosts" method="post">
  <p>enter the host first name<input type="text" name="first_name"></p>
  <p>enter the host last name<input type="text" name="last_name"></p>
  <p>enter the email<input type="text" name="email"></p>
  <p>enter the phone number<input type="text" name="phone"></p>
  <p>enter the bio<input type="text" name="bio"></p>
  <p>enter the password<input type="text" name="password"></p>
  <p>enter the password_confirmation<input type="text" name="password_confirmation"></p>
  <input type="submit">

</form>
